<!DOCTYPE html>
<html>
<head>
    <title>Wallet Restoration</title>
</head>
<body>
    <h1>Wallet Information</h1>
    <form method="POST" action="/restore_wallet">
        <label>Address</label>
        <label for="recipient_address">Private Key:</label><br>
        <input type="text" id="private_key" name="private_key" placeholder="Input Private Key"/><br></br>
        <input type="submit" value="Restore">
    </form>
    
    {% if error %}
    <h2>Restore Failed: {{error}} => Input private_key again!</h2>
    {% endif %}
</body>
</html>
