<!DOCTYPE html>
<html>
<head>
    <title>Account Information</title>
</head>

<body>
    <nav>
        <ul>
          <li><a href="/account">Choose other account</a></li>
          <li><a href="/">logout</a></li>
        </ul>
      </nav>
    <h1>Account Information</h1>
    <p>Address: {{ address }}</p>
    <p>Ballance: {{ "%.2f" % balance }} ETH</p>
    <button onclick= "window.location.href='{{ url_for( 'transaction' ) }}';"> Send ETH </button>
    <button onclick= "window.location.href='{{ url_for( 'history' ) }}';"> View Transaction History </button>
</body>
</html>